input[type="text"]{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
    display: block;
    padding-bottom: 4px;
    color: #fff ;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
    padding-bottom: 0;
    padding: 6px;
    border-radius: 2px;
}
button{
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-weight: 100;
    outline: none;
}